/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* using variable  */
:root {
  --primary-text-color: #2e4053;
  --secondary-text-color: #536878;
  --accent-color: #89a9b4;
  --background-color: #d0e2e8;
  --active-color: #7235ff;
}
body {
  font-family: "Noticia Text", serif;
  color: var(--primary-text-color);
  font-weight: 700;
  cursor: url(./images/arrow.png), auto;
}

p {
  font-family: "Oxygen", Open Sans;
  color: var(--secondary-text-color);
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* using utility class  */
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

nav {
  /* background-color: var(--background-color); */
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  padding-left: 16px;
  margin: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}
.main-nav {
  justify-content: space-between;
  padding-block: 8px;
}

.my-logo img {
  width: 60px;
  border-radius: 50%;
  border: 4px solid #f1dba0;
}
.my-logo:hover {
  cursor: url(./images/pointer.png), auto;
}
.nav-links ul {
  gap: 40%;
}
.nav-links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.hover-links {
  cursor: pointer;
}

.hover-links:hover {
  color: var(--secondary-text-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  cursor: url(./images/pointer.png), auto;
}
.hover-links:active {
  color: var(--active-color);
}

/* //JS active class */
.nav-item.active {
  color: var(--active-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
.search-bar {
  height: 38px;
  gap: 8px;
}
.news-input {
  font-family: "Noticia Text", serif;
  width: 200px;
  height: 100%;
  padding-inline: 16px;
  border: 2px solid #bbd0e2;
  border-radius: 8px;
  outline: none;
  color: var(--primary-text-color);
  font-weight: 700;
}
.search-button {
  font-family: "Noticia Text", serif;
  background-color: var(--accent-color);
  color: #eeee;
  background-color: var(--primary-text-color);
  padding: 8px 9px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  align-items: center;
}
.search-button:hover {
  cursor: pointer;
  background-color: var(--secondary-text-color);
  cursor: url(./images/pointer.png), auto;
}

main {
  padding-block: 20px;
  /* margin: 80px */
  margin: 88px;
}

/* Card Section */
.cards-container {
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: start;
}
.card {
  width: 360px;
  min-height: 400px;
  box-shadow: 0 0 6px #bbd0e2;
  border-radius: 12px;
  cursor: url(./images/pointer.png), auto;
  overflow: hidden;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 1px 1px 8px #bbd0e2;
  background-color: #f9fdff;
  transform: translateY(-2px);
}
.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-content {
  padding: 12px;
}
.news-source {
  margin-block: 12px;
}

/* Footer  */
.personal-footer {
  color: #ecf0f1;
  text-align: center;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.personal-footer a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: bold;
}

.personal-footer a:hover {
  font-family: sys;
  text-decoration: underline;
  cursor: url(./images/pointer.png), auto;
}

.personal-footer strong {
  color: var(--active-color);
}

.personal-footer .foot-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Pagination  */
.Box-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.Box-pagination .pagination {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 12px 18px;
}

.Box-pagination .pagination ul li {
  list-style-type: none;
  display: inline-block;
}
.pagination a {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
  padding: 16px;
  cursor: pointer;
}
.pagination a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  cursor: url(./images/pointer.png), auto;
}
.pagination .active {
  color: var(--active-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

/* For Mobile devices */
@media screen and (min-width: 360px) and (max-width: 720px) {
  nav {
    border-radius: 15px;
    margin: 8px;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 10px;
  }
  .news-input {
    position: relative;
    top: 4px;
    margin-bottom: 8px;
  }

  .main-nav {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }

  .my-logo img {
    width: 50px;
  }

  main {
    position: relative;
    top: 110px;
    /* margin: 140px 8px 16px; */
    margin: 145px 16px;
  }

  .card {
    min-height: 320px;
    margin: 10px;
  }
  .card-content {
    padding: 12px;
  }

  /* pagination */
  .Box-pagination {
    margin: 12px 8px;
  }

  .Box-pagination .pagination {
    width: 100%;
    max-width: 400px;
    gap: 12px;
    padding: 8px 12px;
  }

  .pagination a {
    font-size: 1.2rem;
    padding: 8px;
  }

  /* footer  */
  /* .personal-footer {
    margin-top: 40px;
  } */
}
